
.shop-category{
    height: 100%;
    background: linear-gradient(180deg, rgba(146, 168, 209, 1), rgba(250, 247, 245, 0.3) 90%);
}
.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
   display: flex; 
   margin: 0px 170px;
   justify-content: space-between; 
   align-items: center;
      
}  
.shopcategory-sort{
     padding: 10px 20px;
     border-radius: 30px;
     border: 1px solid #4c0505;
     width: 150px;
     background: #c57070;
     text-align: center;
     height: 30px;
     font-size: 30px;
     font-weight: 600;
}

.sort-product-selector{

    height: 30px;
    width: 100px;
    padding-left: 15px;
    background: #b18c8c;
    border: 1px solid #4c0505;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    
}
.shopcategory-indexSort p span {
     font-weight: 600;
     
}
.shopcategory-products {
    padding-top: 35px;
    margin: 20px 170px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: blue;
    color:aqua;
    font-size: 18px;
    font-weight: 500;

}

@media(max-width:1280px){
    .shopcategory-banner{
        margin: 20px;
        width: 90%;
    }
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin:10px;
        row-gap: 40px;
    }
    .shopcategory-products .Items{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width:200px ;
        height: 60px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .shopcategory-banner{
        
        width: 95%;
    }
    .shopcategory-indexSort{
        width: 95%;
       
    }
   
    .shopcategory-products{
        width: 95%;
       
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width:150px ;
        height: 60px;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 412px) 
{
    .shopcategory-banner,
    .shopcategory-products,
    .shopcategory-loadmore {
        width: 100%; 
        margin: 10px;
         
    }
    
    .shopcategory-banner {
        padding-top: 50px;
        margin: 10px auto; /* Centrez la bannière */
    }

    .shopcategory-products {
        row-gap: 20px; 
        margin: 0px auto;
        margin-left: -8px;
        transform: scale(0.9);
        }

    .shopcategory-loadmore {
        margin: 10px auto; 
        width: 100px;
        height: 50px;
        margin: 0px auto; /* Pour centrer horizontalement */
    
    position: relative; /* Définissez la position sur relative pour pouvoir utiliser top */
    top: -20px;
    }
    .shopcategory-sort{
        transform: scale(0.7);
    }
     
}
@media (max-width: 375px) 
{
    .shopcategory-banner,
    .shopcategory-products,
    .shopcategory-loadmore {
        width: 100%; 
        
         
    }
    
    .shopcategory-banner {
        padding-top: 50px;
        margin: 10px auto; /* Centrez la bannière */
    }

    .shopcategory-products {
        row-gap: 20px; 
        margin: 0px auto;
        margin-left: -8px;
        transform: scale(0.9);
        }

    .shopcategory-loadmore {
        margin: 10px auto; 
        width: 100px;
        height: 50px;
        margin: 0px auto; /* Pour centrer horizontalement */
    
    position: relative; /* Définissez la position sur relative pour pouvoir utiliser top */
    top: -20px;
    }
    .shopcategory-sort{
        transform: scale(0.7);
    }
     
}


