.Footer{
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: linear-gradient(180deg, #e09a44, rgba(250, 247, 245, 0.1) 90%);
}
.Footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.Footer-logo p{
    color: rgb(29, 2, 2);
    font-size: 35px;
    font-weight: 700;
    font-family: 'Cherry Swash', cursive;
}
.footer-links{
    display: flex;
    list-style: none;
    gap:50px;
    color: rgb(24, 3, 3);
    font-size: 20px;

}
.footer-links li{
    cursor: pointer;
    font-family: 'Cherry Swash', cursive;

}
.footer-social-icon{
    display: flex;
    gap: 20px;
}
.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: rgb(241, 241, 235);
    border: 1px solid rgb(50, 33, 12);

}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: rgb(238, 240, 238);
    font-size: 20px;
}
.footer-copyright hr{
    width: 88%;
    border:none ;
    border-radius: 10px;
    height: 3px;
    background: green;

}
.Footer-logo img {
    width: 150px;
}

@media(max-width:800px) {
    .Footer{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        background: linear-gradient(180deg, #e09a44, rgba(250, 247, 245, 0.1) 90%);
    }
    .Footer-logo{
        height: 50px;
        padding-top: 45px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .Footer-logo p{
        color: rgb(29, 2, 2);
        font-size: 25px;
        font-weight: 400;
        font-family: 'Cherry Swash', cursive;
    }
    .footer-links{
        display: flex;
        list-style: none;
        gap:30px;
        color: rgb(24, 3, 3);
        font-size: 15px;
    
    }
    .footer-links li{
        cursor: pointer;
        font-family: 'Cherry Swash', cursive;
    
    }
    .footer-social-icon{
        display: flex;
        gap: 10px;
        scale: 1;
    }
    .footer-icons-container{
        padding: 10px;
        padding-bottom: 6px;
        background: rgb(241, 241, 235);
        border: 1px solid rgb(50, 33, 12);
    
    }
    .footer-copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;
        margin-bottom: 40px;
        color: rgb(222, 234, 221);
        font-size: 20px;
    }
    .footer-copyright hr{
        width: 88%;
        border:none ;
        border-radius: 10px;
        height: 3px;
        background: green;
    
    }
    .Footer-logo img {
        width: 150px;
    }
    

}


@media only screen and (max-width: 414px) {
    .Footer {
        gap: 20px; 
    }

    .Footer-logo p {
        font-size: 10px; 
    }

    .footer-links {
        font-size: 12px; 
        padding-left: 10px;
        gap:12px;
        padding-top: 10px;
    }

    .footer-copyright {
        gap: 10px; 
        font-size: 10px;
        font-weight: 200;
    }
}
@media only screen and (max-width: 412px) {
    .Footer {
        gap: 20px; 
    }

    .Footer-logo p {
        font-size: 10px; 
    }

    .footer-links {
        font-size: 12px; 
        padding-left: 10px;
        gap:12px;
        padding-top: 10px;
    }

    .footer-copyright {
        gap: 10px; 
        font-size: 10px;
        font-weight: 200;
    }
}